* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1b7de0;
    font-family: Arial, Helvetica, sans-serif;
}

.upload-container {
    margin: 95px auto;
    width: 500px;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    padding: 50px 30px;

    & > .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    & .description p {
        color: #999;
    }
    & .drag-drop {
        border: dashed 3px #ccc;
        border-radius: 5px;
        padding: 60px 30px;
        margin: 20px 0;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        color: #999;
        gap: 10px;
        & .icon svg {
           width: 100px;
           height: 100px; 
           fill: #b1d8ff;
        }
        & .btn {
            padding: 15px;
            font-size: 16px;
            font-weight: bold;
            background: #268aed;
            color: #fff;
            border: none;
            border-radius: 7px;
            min-width: 200px;
            cursor: pointer;
            &:hover {
                background: #0b6fd2;
            }
        }
    }
    & .title-section  {
        text-align: left;
        color: #999;
        font-weight: bold;
        padding-bottom: 20px;
    }

    & .uploaded-files {
        display: flex;
        flex-direction: column;
        gap: 20px;
        & .file {
            border: solid 1px #ddd;
            border-radius: 7px;
            text-align: left;
            display: flex;
            gap: 10px;
            padding: 10px 17px;
            justify-content: space-between;
            align-items: center;
            transition: box-shadow 0.3s ease-in-out;
            &:hover {
                box-shadow: 0 5px 10px #bbbbbb;
            }
            & .icon, & img{
                width: 46px;
                height: 46px;
            }

            & .actions {
                & button {
                    padding: 4px;
                    border: none;
                    border-radius: 5px;
                    width: 2.5em;
                    height:2.5em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    & svg {
                        width: 20px;
                        height: 20px;
                        fill: #555;
                    }
                    &:hover {
                        background: #ffe3e3;
                    }
                }
            }

            & .title {
                flex: 1;
                & .name {
                    display: block;
                    padding-bottom: 5px;
                }
                & .size {
                    color: #999;
                    font-size: 14px;
                }
                & .progress {
                    width: 100%;
                    background: #ccc;
                    overflow: hidden;
                    & .progress-60 {
                        background: #268aed;
                        width: 60%;
                    }
                }
                & .progress, & .progress-60 {
                    height: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media (max-width:620px){
    .upload-container {
        width: 80%;
    }
}

